@font-face {
  font-family: 'Nunito';
  src: url('assets/Nunito-Regular.ttf') format('truetype');
}

html, body {
  margin: auto;
  font-family: 'Nunito', Fallback, sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.eq-container {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eq-container div {
  margin: auto;
  width: 20%;
  height: 20%;
}

.emoji-button {
  width: 100%;
  height: 100%;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  will-change: transform;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

#fullscreen {
  position: fixed;
  top: 10px;
  right: 10px;
  background-image: url('assets/fullscreen-on.svg');
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  width: 30px;
  height: 30px;
  outline: none;
}

:fullscreen #fullscreen {
  background-image: url('assets/fullscreen-off.svg') !important;
}

:-webkit-full-screen #fullscreen {
  background-image: url('assets/fullscreen-off.svg') !important;
}

:-moz-full-screen #fullscreen {
  background-image: url('assets/fullscreen-off.svg') !important;
}

@keyframes woof {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(10);
    opacity: 1;
  }
  100% {
    transform: scale(10) translate(0, -30px);
    opacity: 0;
  }
}

#thanks {
  position: fixed;
  width: 100px;
  height: 20px;
  top: 50%;
  left: 50%;
  margin-top: -10px; /* Negative half of height. */
  margin-left: -50px; /* Negative half of width. */
  text-align: center;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  opacity: 0;
  will-change: transform;
  pointer-events: none;
}
