<!DOCTYPE html>
<html>
  <head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta charset=utf-8>
    <link rel="stylesheet" type="text/css" href="public/style.css">
    <link rel="icon" type="image/png" href="public/favicon.png">
    <title>{{title}}</title>
  </head>
  <body>
    <button id="fullscreen" onClick="toggleFullscreen()"></button>
    <div>
      <h1>{{question}}</h1>
    </div>
    <div class="eq-container">
      <div class="emoji-button very_positive" onClick="postFeedback('very_positive');">
        <img src="public/assets/face-heart.svg" alt="Very positive">
      </div>
      <div class="emoji-button positive" onClick="postFeedback('positive');">
        <img src="public/assets/face-smiling.svg" alt="Positive">
      </div>
      <div class="emoji-button negative" onClick="postFeedback('negative');">
        <img src="public/assets/face-frowning.svg" alt="Negative">
      </div>
      <div class="emoji-button very_negative" onClick="postFeedback('very_negative');">
        <img src="public/assets/face-crying.svg" alt="Very negative">
      </div>
    </div>
    <div id="thanks">{{thanks}}</div>
    <script src="public/script.js"></script>
  </body>
</html>
