<!DOCTYPE html>
<html>
  <head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta charset=utf-8>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/png" href="favicon.png">
    <title>{{title}}</title>
  </head>
  <body>
    <div style="margin-top: 10%;">
      <h1>{{question}}</h1>
    </div>
    <div class="eq-container">
      <div class="emoji-button" onClick="post_feedback('very_positive');">
        <img src="assets/face-heart.svg" alt="Very positive">
      </div>
      <div class="emoji-button" onClick="post_feedback('positive');">
        <img src="assets/face-smiling.svg" alt="Positive">
      </div>
      <div class="emoji-button" onClick="post_feedback('negative');">
        <img src="assets/face-frowning.svg" alt="Negative">
      </div>
      <div class="emoji-button" onClick="post_feedback('very_negative');">
        <img src="assets/face-crying.svg" alt="Very negative">
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
